<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <span>
                            <h4 class="card-icon">Playground</h4>
                        </span>
                        <button type="button" class="btn btn-primary pull-right" (click)="ejecutar()" [disabled]="btnJugar!=='Jugar'">
                            {{ btnJugar }}
                        </button>
                    </div>
                    <div class="card-body card-body">
                        <div id="blocklyDiv" style="height: 60vh; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>